
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
    background-color: #f7f5f3;
}
header{
    height: 9vh;
    width: 100vw;
    /* border: 1px solid blue; */
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #ccc9fa;
    position: sticky;
    /* z-index: 20px; */
    div a{
        text-decoration: none;
        color: black;
    }
    

/* position: fixed; */
}
.logo img{
    width: 60px;
      /* box-shadow: 1px 1px 1px 1px black; */
 }
 section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* flex-wrap: wrap; */
 }
.sidebar{
    height: 91vh;
    width: 12vw;
    /* border: 2px solid black; */
    background: #A7A1FF;
    /* background: #8292F8; */
    position: sticky;
    /* padding: 0px; */
    ul{
        /* margin-top: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
     ul a{
        text-decoration: none;
        color: black;
        text-align: center;
        text-transform: uppercase;
     }
     ul a li {
        /* border: 1px solid white; */
        margin-top: 40px;
        height: 8vh;
        width: 10vw;
        list-style: none;
        text-align: center;
        font-family: "Electrolize", sans-serif;
  font-weight: 600;
  font-style: normal;
     }
     .rabit{
        width: 70px;
        rotate: right;
        
     }
     .rabit:hover{
        width:100px;
        transition: all 1ms;
     }.rabit:active{
        width:100px;
        transition: all 1ms;
     }
 }
 .rightLog{
    width: calc(100vw - 14vw);
    padding: 20px;
    /* border: 1px solid blue; */
 }
 .rightLog .totalSheet{
    /* border:1px solid black ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  padding: 10px;
  /* color: whitesmoke; */
  background-color: #C4CCD5;
  #balances{
    font-family: "Bungee Hairline";
  font-weight: 600;
  font-style: normal;
  }
  #Savings{
    font-family: "Bungee Hairline";
  font-weight: 600;
  font-style: normal;
  }
  #Spendings{
    font-family: "Bungee Hairline";
  font-weight: 600;
  font-style: normal;
  }
 }
.transactions{
   padding: 20px;
   background: #aeaae0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 5px;
   #expenditure{
      width: 160px;
      height: 5vh;
      background:#A7A1FF;
      color: rgb(0, 0, 0);
      border-radius: 10px;
      border: 2px solid white;
   }
   #description{
      width: 250px;
      height: 5vh;
      padding: 4px;
      border-radius: 10px;
      border: 2px solid white;
   }
   #amount{
      width: 250px;
      height: 5vh;
      padding: 4px;
      border-radius: 10px;
      border: 2px solid white;
   }
   button{
      margin: 10px;
      padding: 2px;
      background:#f9abef;
      color: beige;
      width: 150px;
      height: 5.5vh;
      border-radius: 10px;
      border: 2px solid rgb(204, 158, 88) ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  }
  button:hover{
   background: #4e364e;
   color: white;
}
button:active{
   background: #4e364e;
   color: white;
}
   
}
