*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000f6;
    color: white;
}
/* nav content */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /* padding-top: 30px; */
    /* margin: 2px;
    margin-top: 15px; */
    background: #000000;
    height: 8vh;
    border: 1px solid black;
    position: sticky;
    top: 0px;
    .one img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .two{
        margin-left: 200px; 
        ul{
            display: flex;
            flex-direction: row;
            gap: 90px;
            list-style: none;
            li a{
                text-decoration: none;
                color: rgb(167, 167, 167);
                font-size: 17px;
                font-weight: 200;
                font-family: "Teko", sans-serif;
            }
        }
        li a:hover{
            color: rgb(231, 255, 125);
            transition: all 0.5s;
        }
        
    }
    .three ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        margin-left: 100px;
        .signup{
            text-align: center;
            span{
                font-size: 13px;
                text-align: center;
            }
        }
        li{
            border: 1px solid black;
            /* padding: 7px; */
            border-radius: 10px;
        }
        li a{
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: 200;
            font-family: "Teko", sans-serif;
        }
    }
}
button{
    border: 1px solid black;
padding: 8px;
border-radius: 10px;
font-size: 15px;
font-weight: 200;
font-family: "Teko", sans-serif;
background-color: #f1fe69;
cursor: pointer;
}
/* button:hover{
    animation: btn 1s infinite;
}
@keyframes btn {
    0%{
        background-color: #C4CCD5;
        transform: ;
    }
    50%{
        background-color: #8292F8;
    }
    100%{
        background-color: #C4CCD5;
    }
    
} */

/* main content */
main {
    /* margin-top: 6px; */
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 40px; */
    /* padding: 5px; */
    height: calc(100vh - 20vh);
    .first{
        display: flex;
        flex-direction:column;
        gap: 10px;
       align-items: center;
    }
    .first h1{
        font-family: "Abril Fatface", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 70px;
        /* color: #5993f0; */
        color: #51487a;
        text-shadow: 3px 0px  rgb(255, 237, 132);
    }
    .first h1 span{
        color: #363249;
        text-shadow: 3px 0  rgb(255, 237, 132), 0 2px rgb(204, 158, 88), 2px 0  rgb(198, 148, 73), 0 2px  rgb(204, 158, 88);
        font-size: 90px
    }
    .original{
        /* border: 1px solid black; */
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        button a{
            text-decoration: none;
            color: black;
        }
    }
    .para p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: rgb(169, 169, 169);
        text-transform: uppercase;
    }
    /* .second img{
        
    } */
}

.third{
    border: 4px solid yellow;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 100px;
    padding: 10px;
    form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        div h1{
            font-family: "Abril Fatface", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            text-align: center;
        }
        .input{
            display: flex;
            flex-direction: column;
            gap: 10px;
            input{
                padding: 10px;
                border-radius: 10px;
                border: 1px solid black;
                background-color: none;
            }
        }
        .forget{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div a{
                text-decoration:underline;
                color: rgb(255, 255, 255);
            }
        }
        input[type="submit"]{
            background-color: #f1fe69;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;

        }
        }

}

.fourth{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 10px;
    color: white;
    height: 400px;
    width: 400px;
    margin-top: 10px;
    border: 4px solid yellow;
    border-radius: 10px;
    form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        div h1{
            font-family: "Abril Fatface", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            text-align: center;
        }
        .input{
            display: flex;
            flex-direction: column;
            gap: 10px;
            input{
                padding: 10px;
                border-radius: 10px;
                border: 1px solid black;
                background-color: none;
            }
        }
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
             a{
                text-decoration:underline;
                color: rgb(255, 255, 255);
            }
        }
        input[type="submit"]{
            background-color: #f1fe69;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            padding: 10px;


        }
        }
}
@media screen and (max-width: 500px) {
    nav{
        width: 60%;
        .three{
            display: none;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 90px;
    }
    
    .first{
        h1{
            font-size: 90px
        }
        height: 500px;
        width: 100%;
        .original{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .second{
        margin-top: 170px;
        height: 500px;
        width: 500px;
    }
    .third{
        height: 700px;
        width: 500px;
        margin-left:80px ;
        margin-top: 100px;
        form{
            /* margin-left: 400px; */
            .input{
                display: flex;
                flex-direction: column;
                gap: 10px;
                input{
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid black;
                    background-color: none;
                }
            }
        }
    }
    .fourth{
        height: 700px;
        width: 500px;
        margin-left:100px ;
        margin-top: 80px;
        form{
            /* margin-left: 400px; */
            .input{
                display: flex;
                flex-direction: column;
                gap: 10px;
                input{
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid black;
                    background-color: none;
                }
            }
        }
    }
    input{
        width: 100%;
    }
    
}